#App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator-exterior {
  background-color: rgb(95, 95, 95);
  width: fit-content;
  padding: 1.5rem;
  border-radius: 3%;
}
